MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
JWT_SECRET=
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
MONGODB_URI=mongodb://mongodb:27017/dungeon
CONSUL_HOST=consul
X_INTERNAL_SECRET=change-me-in-production
INVENTORY_URL=http://inventory-service:3005