body {
  margin: 0;
  padding: 0;
}

.d1-main {
  width: 100%;
  min-height: 100vh;
  background-image: url("/Dungeon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.d1-container {
  background-color: #E1712B;
  border-radius: 20px;
  line-height: 100px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  left: 0;
  transform: none;
  border-radius: 0;
  box-sizing: border-box;
}
.d1-timer-wrapper{
   background-color: #E1712B;
   border-radius: 20px;
   line-height: 100px;
   position: fixed;
   width:10%;
}

.d1-task-wrapper{
   background-color: #E1712B;
   border-radius: 20px;
   line-height: 100px;
   position: fixed;
   top: 20px;
   right: 20px;
   width:10%;
}