body {
  margin: 0;
  padding: 0;
}

.d2-main {
  width: 100%;
  min-height: 100vh;
  background-image: url("/Dungeon3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.d2-container {
  background-color: #C27AFF;
  border-radius: 20px;
  line-height: 100px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  left: 0;
  transform: none;
  border-radius: 0;
  box-sizing: border-box;
}

.d2-timer-wrapper{
   background-color: #C27AFF;
   border-radius: 20px;
   line-height: 100px;
   position: fixed;
   width:10%;
}

.d2-task-wrapper{
   background-color: #C27AFF;
   border-radius: 20px;
   line-height: 100px;
   position: fixed;
   top: 20px;
   right: 20px;
   width:10%;
}
