body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
 background: #702963;
background: radial-gradient(circle, rgba(112, 41, 99, 1) 5%, rgba(132, 78, 123, 1) 33%, rgba(170, 152, 169, 1) 75%, rgba(189, 181, 213, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}